body{
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  position: relative;
}

main{
  padding: 20px 10%;
}

figure{
  margin: 0;
  padding: 0;
}

main > section:nth-child(1), main > section:nth-child(4){
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  font-size: 1.4rem;
  margin-top: 37px;
}

main > section:nth-child(4){
  flex-wrap: wrap;
}

main > section:nth-child(4) article section{
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,.09);
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 32px;
  overflow: hidden;
  width: 267px;
}

main > section:nth-child(4) article section figure{
  cursor: pointer;
  position: relative;
}

main > section:nth-child(4) article section figure span{
  background-color: #FFF;
  border: solid 1px #000;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  vertical-align: middle;
  width: 35px;
  z-index: 2;
}

main > section:nth-child(4) article section figure img, main > section:nth-child(4) article section figure p{
  width: 100%;
}

main > section:nth-child(4) article section figure p{
  background: #FFF;
  bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 16px 0;
  position: absolute;
  text-align: center;
  z-index: 1;
}

@media only screen and (max-width: 667px) {
  h1{
    text-align: center;
  }

  main > section:nth-child(4){
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
